body{
    height: 100vh;
    background: linear-gradient(120deg, orange, yellow, blue);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central{
    width: 400px;
    height: 300px;
    background: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    

}

.central input{
    width: 300px;
    height: 25px;
    background: gray;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    
    
    
    
}
.central input:focus{
    background: silver;

}

.central #calcular{
    background: darkcyan;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    padding: 10px;
}

.central #calcular:hover{
    /* HOVER utilizado para fazer efeitos */
    background: darkblue;
    border-radius: 15px;

}

.central #resultado{
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
    background: silver;
    width: auto;
    height: 25px;
    
}
